body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFA500; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo do retângulo preto */
.login-container {
    background-color: #000; 
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Cor do botão */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049; /* Cor do botão ao passar o mouse */
}